@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Playfair Display', serif;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8B5CF6; /* purple-400 */
  border-radius: 4px;
}

/* 
::-webkit-scrollbar-track { 
  background-color: #EDF2F7; 
} */

.out {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling while animation happens */
}
.elevator-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.elevator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  /* z-index: 1; */
}
.right {
  right: 0;
}
.left { 
  left: 0
}
.outside-right {
  /* clip-path: polygon(50% 0, 80% 50%, 50% 100%, 0 100%, 0% 50%, 0 0);*/
  clip-path: polygon(50% 0, 80% 50%, 50% 100%, 100% 100%, 100% 50%, 100% 0);
}
.outside-left {
  /* clip-path: polygon(50% 0, 80% 50%, 50% 100%, 0 100%, 0% 50%, 0 0); */
  clip-path: polygon(50% 0, 20% 50%, 50% 100%, 0 100%, 0% 50%, 0 0);
}

/* .inside-right,
.inside-left {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #222;
  z-index: 0;
} */

.elevator-door-left {
  left: 0;
  clip-path: polygon(50% 0, 20% 50%, 50% 100%, 0 100%, 0% 50%, 0 0);
}

.elevator-door-right {
  right: 0;
  clip-path: polygon(50% 0, 80% 50%, 50% 100%, 100% 100%, 100% 50%, 100% 0);
}

/* .inside-right {
  right: 0;
  clip-path: polygon(50% 0%, 50% 100%, 80% 50%);
}

.inside-left {
  left: 0;
  clip-path: polygon(50% 0%, 50% 100%, 30% 50%);
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
